@media (max-width:480px){
    .empty-cart-section{
        position: absolute;
        top: 15%;
        width: 80vw;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }

    .empty-cart-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }

    .img-cart{
        width: 40rem;
        height: 35rem;
    }

    #cart-info{
        font-size: 2.5rem;
    }

    #shopping-nav-link{
        font-size: 2rem;
    }
}