/* @media (min-width:351px) and (max-width:720px){
    .rg-form-section{
        width: 82rem;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
    }
} */