.not-found-main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page-link{
    font-size: 1.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2rem;
    position: absolute;
    top: 85%;
}


.home-page-link a:hover{
    color: black;
    text-decoration: underline;
}